@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 167 44% 98%;
    --foreground: 167 75% 4%;
    --muted: 167 27% 91%;
    --muted-foreground: 167 4% 32%;
    --popover: 167 44% 97%;
    --popover-foreground: 167 75% 3%;
    --card: 167 44% 97%;
    --card-foreground: 167 75% 3%;
    --border: 167 10% 90%;
    --input: 167 10% 90%;
    --primary: 167 75% 59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 167 14% 90%;
    --secondary-foreground: 167 14% 30%;
    --accent: 167 14% 90%;
    --accent-foreground: 167 14% 30%;
    --destructive: 1 87% 28%;
    --destructive-foreground: 1 87% 88%;
    --ring: 167 75% 59%;
    --radius: 0.5rem;

    --chart-1: 170 78% 40%;
    --chart-2: 167 75% 59%;
    --chart-3: 172 76% 26%;
    --chart-4: 173 59% 19%;
  }

  .dark {
    --background: 167 52% 0%;
    --foreground: 167 11% 99%;
    --muted: 167 27% 9%;
    --muted-foreground: 167 4% 68%;
    --popover: 0 0% 1%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 167 10% 12%;
    --input: 167 10% 12%;
    --primary: 167 75% 59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 167 1% 10%;
    --secondary-foreground: 167 1% 70%;
    --accent: 167 1% 10%;
    --accent-foreground: 167 1% 70%;
    --destructive: 1 87% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 167 75% 59%;

    --chart-1: 170 78% 40%;
    --chart-2: 167 75% 59%;
    --chart-3: 172 76% 26%;
    --chart-4: 173 59% 19%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  h1 {
    @apply scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  .lead {
    @apply text-base md:text-xl text-muted-foreground;
  }
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-background text-foreground min-h-screen;
  }
  main {
    @apply font-poppins min-h-screen;
  }
}
