@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 51 62% 99%;
    --foreground: 51 67% 4%;

    --muted: 51 19% 90%;
    --muted-foreground: 51 5% 32%;

    --popover: 51 62% 99%;
    --popover-foreground: 51 67% 4%;

    --card: 51 62% 99%;
    --card-foreground: 51 67% 4%;

    --border: 51 2% 89%;
    --input: 51 2% 89%;

    --primary: 51 100% 50%;
    --primary-foreground: 51 100% 10%;

    --secondary: 51 19% 92%;
    --secondary-foreground: 51 19% 12%;

    --accent: 51 19% 92%;
    --accent-foreground: 51 19% 12%;

    --destructive: 21 82% 29%;
    --destructive-foreground: 21 82% 89%;

    --ring: 51 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 51 58% 1%;
    --foreground: 51 23% 100%;

    --muted: 51 19% 10%;
    --muted-foreground: 51 5% 68%;

    --popover: 51 58% 1%;
    --popover-foreground: 51 23% 100%;

    --card: 51 58% 1%;
    --card-foreground: 51 23% 100%;

    --border: 51 2% 13%;
    --input: 51 2% 13%;

    --primary: 51 100% 50%;
    --primary-foreground: 51 100% 10%;

    --secondary: 51 4% 15%;
    --secondary-foreground: 51 4% 75%;

    --accent: 51 4% 15%;
    --accent-foreground: 51 4% 75%;

    --destructive: 21 82% 60%;
    --destructive-foreground: 21 82% 0%;

    --ring: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  main {
    @apply min-h-screen;
  }
  h1 {
    @apply scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  .lead {
    @apply text-base md:text-xl text-muted-foreground;
  }
  body {
    @apply bg-background text-foreground min-h-screen;
  }
}
